<div class="image_outer <%= first if defined? first %>">
	
	<% unless defined?(first) %>
	<div class="rating_box">
		<div class="voting_box">
			<a href="#" class="vote_link" data-image-id="<%= image.id %>"><img src="images/vote.png" /></a>
		</div>
	</div>
	<% end %>
	
	<div class="image_inner">
		<img class="image" src="<%= image.url %>" />
		<% if defined?(first) || image.images.count == 0 %>
		<a href="#" class="reply" data-image-id="<%= image.id %>"><img src="/images/reply.png"></a>
		<% end %>
	</div>
	
	<% if image.images.count > 0 %>
		<%= partial :image, :locals => {:image => image.images.first} %>
	<% end %>
	
</div>