<div class="image_outer <%= first if defined? first %>">
	
	<% unless image.searchterm.nil? %>
	<div class="searchterm_box">
		<%= image.searchterm %>
	</div>
	<% end %>
	
	<% unless defined?(first) %>
	<div class="rating_box" <% if image.rating > 0 %>style="background-image: url(/images/ratings/<%= image.rating <= 50 ? image.rating : 50 %>.gif)" <% end %>>
	</div>
	<div class="voting_box">
		<a href="#" class="vote_link" data-image-id="<%= image.id %>"><img src="/images/vote.png" /></a>
	</div>
	<% end %>
	
	<div class="image_inner">
		<img class="image" src="<%= image.url %>" />	
		
		<% if image.images.count == 0 %>
		<a href="#" class="reply" data-image-id="<%= image.id %>"><img src="/images/reply.png"></a>
		<% end %>
		<div class="reply_user"><%= image.user.name %></div>
		<div class="clear"></div>
	</div>
	
	<% if image.images.count > 0 %>
		<%= partial :image, :locals => {:image => image.images.first} %>
	<% end %>
	
</div>